<body>
<% if flash[:notice] %>
<h2>
<%= flash[:notice] %>
</h2>
<% end %>


<% if @username != nil%>
<div class="h1-div">
<h1 class="homepage-title"> Chitter</h1>
<form action="/sessions/destroy" method="post">
  <input class="sign-out-button" type="submit" value="Sign Out" />
</form>
</div>

<h2 class ="welcome-title">Welcome <%= @username %> </h2>



<form class="add-peep-form" action="/peeps/new" method="post">
<input type="text" name="peep" placeholder="Add your Peep here" />
<input type="submit" value="Add Peep" />
</form>

<div class="background-div">
<ul class="peep-list"> 
<% @peeps.each do |peep| %>
    <li class="peep" id="peep-<%= peep.id %>">
    @<%= peep.username %> "<%= peep.peep%>" <%= peep.time %>
    <% if peep.username == @username %>
    <form action="/<%= peep.id %>" method="post">
    <input type='hidden' name='_method' value='DELETE' />
    <input type='submit' value='Delete' />
    </form>
    <form action="/<%= peep.id%>/edit" method="get">
    <input type="submit" value="Edit" />
    </form>
    <% end %>
    </li>
    <% end %>
    </ul>
    </div>

<% else %>
<div class="index-box">
<div class="registration-box">
<h1 class="title"> Chitter </h1>
<form action="/users/new" method="get">
<input class="sign-up-button" type='submit' value="Sign Up" />
</form>

<form action="/sessions/new" method="get">
<input class="sign-in-button" type='submit' value="Sign In" />
</form>
<p class="opening-text">See what everyone's saying and join the conversation.</p>
</div>

</div>
<% end %>



</body>
