<% if @username != nil%>
<h1>Welcome to Chitter <%= @username %> </h1>
<a href="/sessions/destroy">Sign Out</a>
<form action="/peeps/new" method="post">
<input type="text" name="peep" placeholder="Add your Peep here" />
<input type="submit" value="Add Peep" />
</form>
<% else %>
<h1> Welcome to Chitter </h1>
<a href="/users/new">Sign Up</a>
<a href="/sessions/new">Sign In</a>
<% end %>




<ul> 
<% @peeps.each do |peep| %>
    <li class="peep" id="peep-<%= peep.id %>">
    <%= peep.name %> <%= peep.username %> "<%= peep.peep%>" <%= peep.time %>
    <form action="/<%= peep.id %>" method="post">
    <input type='hidden' name='_method' value='DELETE' />
    <input type='submit' value='Delete' />
    </form>
    <form action="/<%= peep.id%>/edit" method="get">
    <input type="submit" value="Edit" />
    </form>
    </li>
    <% end %>
    </ul>